@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  /*清除移动端点击高亮效果*/
  -webkit-box-sizing: border-box;
  /*兼容移动端主流浏览器*/
  box-sizing: border-box; }

body {
  font-family: "Arial","Helvetica","Microsoft YaHei","微软雅黑","微軟雅黑","宋体";
  color: #454545;
  background-color: #fff;
  font-size: 14px;
  position: relative; }
  @font-face {
    font-family: 'iconfont';  /* project id 997630 */
    src: url('//at.alicdn.com/t/font_997630_uvj01t1919n.eot');
    src: url('//at.alicdn.com/t/font_997630_uvj01t1919n.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_997630_uvj01t1919n.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_997630_uvj01t1919n.woff') format('woff'),
    url('//at.alicdn.com/t/font_997630_uvj01t1919n.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_997630_uvj01t1919n.svg#iconfont') format('svg');
  }
  .iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
i, em {
  font-style: normal; }

a {
  text-decoration: none;
  color: #454545; }

ul, ol {
  list-style: none; }

section {
  position: relative; }

input, button, textarea {
  background-color: transparent;
  border: none;
  font-size: inherit; }

input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
  letter-spacing: 1px; }

input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
  letter-spacing: 1px; }

input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
  letter-spacing: 1px; }

input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
  letter-spacing: 1px; }

img {
  display: block;
  width: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }


.mainCon{
  width: 90%;
  margin: 0 auto;
}
.footNav{
  height:50px;
}

.tabs{
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  overflow: hidden;
}
.tabs .a-active{
  color: #000;
  font-weight: bold;
}

.authorDet .swiper-pagination-bullet-active{
  position: relative;
  opacity: 1 !important;
  font-size: 16px;
}
.authorDet .swiper-pagination-bullet-active::after{
  content: '';
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: #454545;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
}
